<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <!-- load momentJS (required for angular-moment) -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

  <!-- load angular-moment -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

  <script type="text/javascript" src="./app.js"></script>
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="animate.css">
  <title>Reddit Clone</title>
</head>
<body ng-controller="main">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button id="collapsBtn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="navHeader" class="navbar-brand">Reddit Clone</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <button type="button" class="btn navbar-btn" data-toggle="modal" data-target="#postModal">
            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Submit a post
          </button></li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="search">
            </div>
          </form>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sort">Sort By<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ng-click="sort('-votes')">Most Votes</a></li>
              <li><a ng-click="sort('title')">By Titles</a></li>
              <li><a ng-click="sort('-date')">Newest</a></li>
            </ul>
          </li>
    </ul>
    </div>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a Post</h4>
      </div>
      <div class="modal-body">
        <form name="myForm" novalidate ng-submit="formSubmit()">
            <fieldset class="form-group" ng-class="{'has-error': myForm.title.$invalid && myForm.title.$touched, 'has-success': myForm.title.$valid}">
            <label class="control-label">Title</label>
            <input type="text" class="form-control" name="title" ng-model="form.title" required placeholder="Enter the title of your posting.">
            <div ng-messages="myForm.title.$error" ng-if="myForm.title.$touched">
                <p ng-message="minlength" class="control-label">Title is too short.</p>
                <p ng-message="required" class="control-label">Title is required.</p>
            </div>
            </fieldset>
            <fieldset class="form-group" ng-class="{'has-error': myForm.description.$invalid && myForm.description.$touched, 'has-success': myForm.description.$valid}">
            <label class="control-label">Description</label>
            <input type="text" class="form-control" name="description" ng-model="form.description" required ng-minlength="3" placeholder="Enter the description of the posting.">
            <div ng-messages="myForm.description.$error" ng-if="myForm.description.$touched">
                <p ng-message="minlength" class="control-label">Description is too short.</p>
                <p ng-message="required" class="control-label">Desription is required.</p>
            </div>
            </fieldset>
            <fieldset class="form-group" ng-class="{'has-error': myForm.image.$invalid && myForm.image.$touched, 'has-success': myForm.image.$valid}">
            <label class="control-label">Image URL</label>
            <input type="url" class="form-control" name="image" ng-model="form.image" required ng-minlength="3" placeholder="Enter the URL of the image for the posting.">
            <div ng-messages="myForm.image.$error" ng-if="myForm.image.$touched">
                <p ng-message="required" class="control-label">Image url is required.</p>
                <p ng-message="url" class="control-label">Image url is not valid.</p>
            </div>
            </fieldset>
            <fieldset class="form-group" ng-class="{'has-error': myForm.author.$invalid && myForm.author.$touched, 'has-success': myForm.author.$valid}">
            <label class="control-label">Author</label>
            <input type="text" class="form-control" name="author" ng-model="form.author" required ng-minlength="2" placeholder="Author of the posting">
            <div ng-messages="myForm.author.$error" ng-if="myForm.author.$touched">
                <p ng-message="minlength" class="control-label">Author name is too short.</p>
                <p ng-message="required" class="control-label">Author name is required.</p>
            </div>
            </fieldset>
            <div class="modal-footer">
              <button type="button" class="btn btnClose" data-dismiss="modal" ng-click="formClose()">Close</button>
              <button type="submit" class="btn btnGreen" data-toggle="modal" data-target="#postModal" ng-disabled="myForm.$invalid">Save Post</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade comment-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Add a Comment on "<span ng-bind="activePost.title"></span>"</h3>
      </div>
      <div class="modal-body">
        <form name="commentForm" novalidate ng-submit="commentSubmit()">
            <fieldset class="form-group" ng-class="{'has-error': commentForm.yourName.$invalid && commentForm.yourName.$touched, 'has-success': commentForm.yourName.$valid}">
            <label class="control-label">Your name?</label>
            <input type="text" class="form-control" name="yourName" ng-model="comment.author" required placeholder="Please enter your name">
            <div ng-messages="commentForm.yourName.$error" ng-if="commentForm.yourName.$touched">
                <p ng-message="required" class="control-label">Your name is required.</p>
            </div>
            </fieldset>
            <fieldset class="form-group" ng-class="{'has-error': commentForm.commentBody.$invalid && commentForm.commentBody.$touched, 'has-success': commentForm.commentBody.$valid}">
            <label class="control-label">Comment?</label>
            <textarea type="text" class="form-control" name="commentBody" ng-model="comment.text" required placeholder="So, what were you thinking?"></textarea>
            <div ng-messages="commentForm.commentBody.$error" ng-if="commentForm.commentBody.$touched">
                <p ng-message="required" class="control-label">Some comment is required.</p>
            </div>
            </fieldset>
            <div class="modal-footer">
              <button type="button" class="btn btnClose" data-dismiss="modal" ng-click="commentClose()">Close</button>
              <button type="submit" class="btn btnGreen" data-toggle="modal" data-target=".comment-modal" ng-disabled="commentForm.$invalid">Save Comment</button>
            </div>
          </form>
      </div>

    </div>
  </div>
</div>

  <main class="container-fluid col-md-12" ng-controller="timeController">
    <section ng-init="vm.sort = '-votes'" ng-repeat="item in data | orderBy : vm.sort | filter : search" class="col-md-10 col-md-offset-1 post">
      <article class="jumbotron row">
        <div class="col-md-4 thumbnail">
          <img ng-src="{{item.image}}" alt="image">
        </div>
        <div class="col-md-8">
          <h4><span ng-bind="item.title"></span> | <span ng-click="voteUp(item)" class="glyphicon  glyphicon-arrow-up" aria-hidden="true"></span> <span ng-click="voteDown(item)" class="glyphicon  glyphicon-arrow-down" aria-hidden="true"></span>
 <span ng-class="{greenVotes: item.votes > 0, redVotes: item.votes < 0}" ng-bind="item.votes"></span></h4>
          <h5 class="author">By <span ng-bind="item.author"></span></h5>
          <p ng-bind="item.description"></p>
          <p><span class="glyphicon glyphicon-calendar" id="notClickable" aria-hidden="true"> </span><span title="{{ item.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" ng-bind="item.date |  amCalendar"></span> | <span class="clickable" aria-hidden="true" ng-click="commentShow(item)"><span class="glyphicon glyphicon-comment"></span>
            <ng-pluralize count="item.comments.length"
              when="{'1': 'View Comment','other': 'View Comments'}">
            </ng-pluralize>
            ( <span ng-bind="item.comments.length"></span> ) </span> | <span class="clickable" ng-click="makeAComment(item)" aria-hidden="true" data-toggle="modal" data-target=".comment-modal"><span class="glyphicon glyphicon-pencil"></span> Add a comment</span></p>

          <div class="comments" ng-repeat="comment in item.comments" ng-show="item.show">
            <p><h4 ng-bind="comment.author"></h4><p ng-bind="comment.text"></p></p>
          </div>

          </div>
      </article>
    </section>
  </main>

</body>
</html>
