<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <script type="text/javascript" src="./app.js"></script>
  <link rel="stylesheet" href="./styles.css">
  <title>Reddit Clone</title>
</head>
<body ng-controller="main">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Reddit Clone</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a>Submit a post</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click="sort('-votes')">Votes</a></li>
            <li><a ng-click="sort('title')">Titles</a></li>
            <li><a ng-click="sort('date')">Dates</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="search">
        </div>
      </form>
    </div>
  </div>
</nav>

  <main class="container-fluid col-md-12">
    <section ng-repeat="item in data | orderBy : vm.sort" class="col-md-10 col-md-offset-1 post">
      <article class="jumbotron row">
        <div class="col-md-4 thumbnail">
          <img ng-src="{{item.image}}" alt="image">
        </div>
        <div class="col-md-8">
          <h4><span ng-bind="item.title"></span> | <span class="glyphicon glyphicon glyphicon-arrow-down" aria-hidden="true"></span><span ng-click="clicked()" class="glyphicon glyphicon glyphicon-arrow-up" aria-hidden="true"></span>

 <span ng-bind="item.votes"></span></h4>
          <h5 class="author">By <span ng-bind="item.author"></span></h5>
          <p ng-bind="item.description"></p>
          <p><span ng-bind="item.date"></span> | <span class="glyphicon glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span> Comments <span ng-bind="item.comments.length"></span><span> | Add a comment <span class="glyphicon glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></span></p>
        </div>
      </article>
    </section>
  </main>

</body>
</html>
