.mainBody {
  display: flex;
  min-height: 96vh;
  flex-direction: column;
  color: rgb(51, 51, 51);
}

main {
  margin-top: 80px;
}

.navbar-brand {
  font-size: 40px;
  font-weight: lighter;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 20px;
    font-weight: lighter;
    transition: all 0.5s ease;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    font-size: 30px;
    font-weight: lighter;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle,
 .navbar-default .navbar-toggle:hover {
    background-color: white;
    border: 1px black solid;
}

.navbar-default .navbar-toggle>.icon-bar {
  background-color: rgb(31, 158, 162);
}

@media (max-width: 690px) {
  #bs-example-navbar-collapse-1 {
    width: 70%;
    margin-left: 30px;
  }
}

@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
  }
}

@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #ffffff;
  }
}

@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
    font-weight: lighter;
    font-size: 20px;
  }
}

.navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:focus,
 .navbar-default .navbar-nav>.open>a:hover {
  background: rgb(31, 158, 162);
  color: white;
  box-shadow: none;
}

.navbar {
  background: rgb(31, 158, 162);
  border-bottom: 2px solid black;
  padding: 15px;
}

.box {
  padding: 10px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(31, 158, 162) 2px solid;
}

nav button {
  background: rgb(255, 255, 255);
  outline: none;
}

#postModal, .comment-modal {
  margin-top: 80px;
}

.modal-header {
  background: rgb(31, 158, 162);
  color: white;
}

.modal-backdrop {
  opacity:0.7 !important;
}

.btnGreen {
  background: rgb(21, 75, 29);
  color: white;
}

.btnGreen:hover {
  background: rgb(56, 116, 64);
  color: white;
}

.btnClose {
  color: white;
  background: rgb(89, 89, 89);
}

.btnClose:hover {
  color: white;
  background: rgb(140, 140, 140);
}

.author {
  text-align: right;
}

.post p {
  font-size: 1.2em;
}

.glyphicon {
 font-size: 1.1em;
 color: rgb(24, 42, 83);
 -webkit-touch-callout: none; /* iOS Safari */
 -webkit-user-select: none;   /* Chrome/Safari/Opera */
 -khtml-user-select: none;    /* Konqueror */
 -moz-user-select: none;      /* Firefox */
 -ms-user-select: none;       /* Internet Explorer/Edge */
}

.glyphicon:hover, .addPost , .makePointer{
 cursor: pointer;
}

.glyphicon-arrow-up:active {
 color: green;
}

.glyphicon-arrow-down:active {
 color: red;
}

.ng-enter {
  animation: fadeIn 1s;
}

/*.ng-leave {
  animation: fadeIn .4s;
}*/

.greenVotes {
  color: green;
}

.redVotes {
  color: red;
}

.ng-move {
  animation: zoomInUp .7s;
}

.ng-move-stagger {
  animation-delay:  .2s;
}

.ng-hide-add {
  animation: flipOutX .7s;
}
.ng-hide-remove {
  animation: flipInX .7s;
}
.ng-hide-remove-stagger {
  animation-delay: .2s;
}

.clickable {
  cursor: pointer;
}

#notClickable {
  cursor: auto;
}

.account-portal {
  margin-top: 100px;
}

.error {
  color:red;
}

footer {
  background-color: rgb(31, 158, 162);
  color: rgb(255, 255, 255);
  height:70px;
}

.footer {
  color: white;
  font-weight: lighter;
  text-align: center;
  padding-top: 15px;
}
